In [1]:
import pandas as pd

In [3]:
url = "https://docs.google.com/spreadsheets/d/1mS6khEB6m8cPNenNvY9Tg6bJ6YkmcvCI/export?format=csv&gid=1283335856"
df = pd.read_csv(url)

# FALL 2022 DATA ONLY

In [4]:
df.head()

,TERM,SUBJECT,NBR,COURSE NAME,SECTION,PROF,TOTAL,A+,A,A-,...,C,C-,D,F,W,INC/NA,AVG GPA,join the best club on campus,Unnamed: 22,https://discord.gg/vxCqd4hdak
0,F2022,ACCT,100,Fin & Mgr Acct,1,"HO, V",28,0,11,2,...,3,0,0,0,5,0,3.383,NaN,NaN,NaN
1,F2022,ACCT,101,Intro Thry & Prac of Acct I,11,"CHAN, J",29,0,13,2,...,0,1,0,0,3,0,3.464,NaN,NaN,NaN
2,F2022,ACCT,101,Intro Thry & Prac of Acct I,5,"RUTHIZER, S",50,2,9,14,...,1,0,3,2,3,0,3.176,NaN,NaN,NaN
3,F2022,ACCT,101,Intro Thry & Prac of Acct I,2,"GRUZA, M",45,1,2,3,...,0,0,0,0,25,0,3.067,NaN,NaN,NaN
4,F2022,ACCT,101,Intro Thry & Prac of Acct I,4,"FEISULLIN, A",45,4,6,1,...,9,1,1,0,4,1,2.908,NaN,NaN,NaN

In [5]:
df.shape

(2559, 24)