# Importing pandas for dataframes numpy for array manipulation (not used here)

## url is Fall 2022 Grade Distribution Only and df reads this as a csv file -- url is manipulated to be a csv instead of a google spreadsheet

In [25]:
import pandas as pd
import numpy as np
url = "https://docs.google.com/spreadsheets/d/1mS6khEB6m8cPNenNvY9Tg6bJ6YkmcvCI/export?format=csv&gid=1283335856"
df = pd.read_csv(url)

In [26]:
df.head()

,TERM,SUBJECT,NBR,COURSE NAME,SECTION,PROF,TOTAL,A+,A,A-,...,C,C-,D,F,W,INC/NA,AVG GPA,join the best club on campus,Unnamed: 22,https://discord.gg/vxCqd4hdak
0,F2022,ACCT,100,Fin & Mgr Acct,1,"HO, V",28,0,11,2,...,3,0,0,0,5,0,3.383,NaN,NaN,NaN
1,F2022,ACCT,101,Intro Thry & Prac of Acct I,11,"CHAN, J",29,0,13,2,...,0,1,0,0,3,0,3.464,NaN,NaN,NaN
2,F2022,ACCT,101,Intro Thry & Prac of Acct I,5,"RUTHIZER, S",50,2,9,14,...,1,0,3,2,3,0,3.176,NaN,NaN,NaN
3,F2022,ACCT,101,Intro Thry & Prac of Acct I,2,"GRUZA, M",45,1,2,3,...,0,0,0,0,25,0,3.067,NaN,NaN,NaN
4,F2022,ACCT,101,Intro Thry & Prac of Acct I,4,"FEISULLIN, A",45,4,6,1,...,9,1,1,0,4,1,2.908,NaN,NaN,NaN

# Confirm this is only Fall 2022, see all names of columns, take out the columns we will be working with, and make a new dataframe called analysis_df which only has those columns

In [27]:
df["TERM"].unique()

array(['F2022'], dtype=object)

In [28]:
df.columns

Index(['TERM', 'SUBJECT', 'NBR', 'COURSE NAME', 'SECTION', 'PROF', 'TOTAL',
       'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D', 'F', 'W',
       'INC/NA', 'AVG GPA', 'join the best club on campus', 'Unnamed: 22',
       'https://discord.gg/vxCqd4hdak'],
      dtype='object')

In [29]:
important_columns = ["SUBJECT", "NBR", "PROF", "TOTAL", "A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D", "F", "W", "AVG GPA"]

In [30]:
analysis_df = df[important_columns]

In [31]:
analysis_df.head()

,SUBJECT,NBR,PROF,TOTAL,A+,A,A-,B+,B,B-,C+,C,C-,D,F,W,AVG GPA
0,ACCT,100,"HO, V",28,0,11,2,1,3,3,0,3,0,0,0,5,3.383
1,ACCT,101,"CHAN, J",29,0,13,2,0,4,5,0,0,1,0,0,3,3.464
2,ACCT,101,"RUTHIZER, S",50,2,9,14,6,4,5,0,1,0,3,2,3,3.176
3,ACCT,101,"GRUZA, M",45,1,2,3,1,5,0,6,0,0,0,0,25,3.067
4,ACCT,101,"FEISULLIN, A",45,4,6,1,7,5,0,6,9,1,1,0,4,2.908

In [32]:
analysis_df.shape

(2559, 17)

# First, see which values have null values and get rid of all those rows

In [33]:
nan_count = np.sum(analysis_df.isnull(), axis = 0)
nan_count

SUBJECT     0
NBR         0
PROF       22
TOTAL       0
A+          0
A           0
A-          0
B+          0
B           0
B-          0
C+          0
C           0
C-          0
D           0
F           0
W           0
AVG GPA     0
dtype: int64

In [34]:
analysis_df = analysis_df.dropna(subset = "PROF")

In [35]:
analysis_df.shape

(2537, 17)

# Keeps only the rows where the GPA isn't 0

In [45]:
analysis_df = analysis_df[analysis_df["AVG GPA"] != 0]

In [46]:
analysis_df.shape

(2333, 17)

# Make a new dataframe called CS_df that only has rows where the subject is CSCI

In [47]:
CS_df = analysis_df.loc[analysis_df["SUBJECT"] == "CSCI"]

In [48]:
CS_df.head()

,SUBJECT,NBR,PROF,TOTAL,A+,A,A-,B+,B,B-,C+,C,C-,D,F,W,AVG GPA
582,CSCI,12,"WAXMAN, J",58,0,2,7,5,14,6,2,2,1,3,5,10,2.594
585,CSCI,48,"FRIED, M",131,19,10,23,28,17,12,4,1,0,1,1,12,3.354
586,CSCI,48,"JAGDEO, M",94,7,14,15,9,11,6,1,1,0,7,7,14,2.945
596,CSCI,100,"CASTRO, R",40,0,8,4,5,5,3,0,4,2,0,3,6,2.876
597,CSCI,111,"SCHLEY, R",236,10,30,14,8,22,8,17,25,8,13,22,49,2.494

In [49]:
CS_df.shape

(91, 17)

# In a similar way, make a new dataframe called MATH_df that only has rows where the subject is MATH

In [50]:
MATH_df = analysis_df.loc[analysis_df["SUBJECT"] == "MATH"]

In [51]:
MATH_df.head()

,SUBJECT,NBR,PROF,TOTAL,A+,A,A-,B+,B,B-,C+,C,C-,D,F,W,AVG GPA
1757,MATH,110,"ALI, M",37,7,9,3,4,2,2,1,1,0,1,0,5,3.500
1758,MATH,110,"ALI, M",37,10,7,2,1,3,3,3,1,0,1,0,5,3.410
1759,MATH,110,"LASKER, M",31,3,8,2,3,0,4,0,1,0,0,2,7,3.222
1760,MATH,110,"BEGA, J",37,4,0,5,3,3,3,4,2,2,0,1,6,2.893
1761,MATH,110,"WOLF-SONKIN, V",30,0,1,1,0,6,1,0,2,2,4,5,7,1.809

In [55]:
MATH_df.shape

(154, 17)

# Make a new dataframe called CS_MATH_df that combines both CS_df and MATH_df

In [56]:
CS_MATH_df = pd.concat([CS_df, MATH_df])

In [57]:
CS_MATH_df.shape

(245, 17)